MONGO_URL=mongodb://localhost:27017/dbname
JWT_SECRET=jwtsecret
PORT=4000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=aimable.kwizera14@gmail.com
EMAIL_PASS="yhkn ahfx xbkb udpu"
EMAIL_FROM=aimable.kwizera14@gmail.com